body {
    background-color: black;
    margin: 0;
    padding: 0;
}
h1 {
    color: antiquewhite;
    margin: 4px;
    padding: 4px;
}

button {
    margin: 4px;
    padding: 4px;
    position: relative;
    justify-content: center;
    text-align: center;
    background-color: blueviolet;
    border-radius: 0px;   
}

button:hover {
    margin: 4px;
    padding: 4px;
    border-radius: 6px;
    position: relative;
    justify-content: center;
    text-align: center;
    background-color: aliceblue;
}